Copyright (c) {{ copyright_year }} {{ author_name }}

This project is licensed under the GNU Lesser General Public License version 3 or, at your option,
any later version (LGPL-3.0-or-later). See LICENSE for the LGPL version 3 additional permissions and
LICENSE.GPL for the GNU General Public License version 3 terms on which they are based.
